body {
  background-color: #b6d7a8
  }
h1{
  font-size: 320%;
  color: #085394;
  font-family:cursive;
  text-align: center;
}
h2{
  font-size: 200%;
  color: #085394;
  font-family:cursive;
  text-align: center;
}
