body {
  background-color: #b6d7a8;
  }

/* Títulos*/
h1{
  font-size: 320%;
  color: #085394;
  font-family:italic;
  text-align: center;
  margin-top: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  }

/*Subtítulos*/
  h2{
    font-size: 300%;
    color: #085394;
    font-family:italic;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    }

/*------------------------------Estilo para Formulario------------------------------*/
    /* Tamaño del Texto */
    label{
      font-size: 20px;
      color: #085394;
      font-family: italic;
    }

    /*Color de Boton*/
    .btn-primary{
      font-size: 18px;
      color: #b6d7a8;
      font-family: italic;
      text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
      background-color: #085394;
      border: none;
      margin-top: 10px;
      width: 105px;
      text-align: center;
      display: flex;
      justify-content: center;
      align-items: center;
    }

    /*Color de Boton*/
    .btn-danger{
      font-size: 18px;
      color: #b6d7a8;
      font-family: italic;
      text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
      border: none;
      width: 110px;
    }
    /*Color de Boton*/

    .imglogo1{
      width: 50px;
      margin-left: 35px;
      margin-top: 5px;
    }
    .imglogo2{
      width: 50px;
      margin-right: 35px;
      margin-left: 35px;
      margin-top: 5px;
    }
    /*Color de Enlace*/
    a {
      font-size: 30px;
      color: #2b78e4;
      font-family: italic;
      text-decoration: none;
    }
/*------------------------------ADMIN------------------------------*/
/*Título Principal*/

h3 {
  font-size: 280%;
  color: #2b78e4;
  font-family:italic;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  }

.content {
      margin-top: 80px;
    }
